body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: rgb(181, 127, 231);
}


.titulo{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4rem;
  color: blue;
}


.imag{
  text-align: center;
}
.datos{
  text-align: center;
}


